<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SampleSuite">
    <listeners>
        <listener class-name="config.Listeners"/>
    </listeners>
    <test thread-count="3" name="Sample Test">
        <classes>
<!--            <class name="handlers.FileHandlerTest"/>-->
<!--            <class name="handlers.ExcelHandlerTest"/>-->
<!--            <class name="handlers.ExceptionHandlerTest"/>-->
            <class name="SampleJavaProg.Main1"/>
        </classes>
    </test>
</suite>